.recuo{
	padding-top: 23px;
}
.background-index
{
    background-color: #F8F8FF;
    background-repeat: no-repeat;
    background-image: url('/img/music-img.png');
    background-size: 100% 100%;
}
.background-newMusic
{
}
.texto-largo
{
    font-weight: 700;
}
.shadow-1
{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media (min-height: 800px) and (max-height: 1200px){
	.background-index{
		min-height: 1000px; 
	}
}
	
